<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
</head>
<style>
    * {
        font-size: 20px;
        margin: auto;
    }
</style>
<body>
<div>
    <h3>회원가입</h3>
</div>
<form method="post" th:action="@{/member/join}" th:object="${memberVO}">
    <input type="text" th:field="*{member.memberEmail()}" placeholder="이메일을 입력하세요">
    <input type="password" th:field="*{member.memberPassword()}" placeholder="비밀번호를 입력하세요">
    <input type="text" th:field="*{member.memberName()}" placeholder="이름을 입력하세요">
    <button>회원가입하기</button>
</form>
</body>
</html>
