<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 글 수정</title>
</head>
<body>
<form method="post" th:action="@{/post/update}" th:object="${postVO}">
    <table class="table">
        <tr>
            <input type="text" th:field="*{post.getPostTilte()}" placeholder="게시글 제목을 입력하세요" required>
        </tr>
        <tr>
            <td><textarea rows="10" th:field="*{post.getPostContent()}" placeholder="게시글 내용을 입력하세요" required></textarea></td>
        </tr>
    </table>
    <div class="text-center">
        <button type="submit">확인</button>
        <button type="submit">취소</button>
    </div>
</form>
</body>
</html>