<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WRITE</title>
</head>
<body>
<form th:action="@{/post/write}" method="post" th:object="${postVO}">
    <input type="text" th:field="*{postTitle}" placeholder="제목">
    <input type="text" th:field="*{postContent}" placeholder="본문">
    <!-- 로그인후에 작성하도록 변경필요    -->
    <input type="text" th:field="*{memberId}" placeholder="작성자">
    <button>완료</button>
</form>

</body>
</html>